include README.md
include LICENSE
include pyproject.toml
include setup.py

recursive-include csrc *.cpp *.h *.metal CMakeLists.txt

recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.so
recursive-exclude * *.dylib
recursive-exclude * *.metallib
